.nufintech{
    padding: 3%;
    background-image: url(./res/stacked-waves-haikei.svg);
}

.nufintech p{
    font-size: 18px;
}

.project-link{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-link a{
    color: black;
    margin-left: 10px;
}

.project-icon{
    width: 400px;
    height: 400px;
}

.project-card{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.project-card:first-child{
    margin-top: 0;
}

.project-card ul li{
    font-size: 18px;
}

.project-card .item-level-2{
    margin-left: 40px;
    list-style-type: circle;

}

.project-card .item-level-3{
    margin-left: 80px;
    list-style-type: square;
}

.project-header{
    justify-content: start;
}

.project-header img{
    margin-right: 20px;
}

.project-header h1{
    font-size: 30px;
}